@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tumma-roosa: #E6B9AF;
  --tumma-puu: #3E3536;
  --vaalea-roosa: #FAF8F6;
  --hiekka: #B96E55;
  --roosa: #F2EDE9;
  --black-truffle: #463C3E;
}

.color-tumma-roosa {
  color: var(--tumma-roosa);
}

.bg-tumma-puu {
  background-color: var(--tumma-puu);
}

.bg-vaalea-roosa {
  background-color: var(--vaalea-roosa);
}

.color-hiekka {
  color: var(--hiekka);
}

.border-color-hiekka {
  border-color: var(--hiekka);
}

.color-roosa {
  color: var(--roosa);
}

.bg-color-rossa {
  background-color: var(--roosa);
}

.color-black-truffle {
  color: var(--black-truffle);
}

section.container {
  line-height: 2rem;
}

.mobile-block {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav-item .active {
  text-decoration: underline;
  text-decoration-color: var(--tumma-roosa);
  text-underline-offset: 8px;
  color: var(--tumma-roosa);
}

#hero-container {
  background-image: url('../../public/images/bg.png');
  background-size: cover;
  width: auto;
}

article p {
  margin: 1rem auto;
}

.list-container li img {
  width: 320px;
  height: auto;
  max-height: 320px;
}